<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog List</title>
</head>
<body>
     <h1>WDog List</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page2">Page 2</a>
  <a href="/page3">Page 3</a>
  <a href="/page4">Page 4</a>
  
  {{#if dogs}}
    <ul>
      {{#each dogs}}
        <li> this {{this.breed}} is named {{this.name}} is {{this.age}} years young</li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>